.DS_Store
DANIEL.xcodeproj/project.xcworkspace/xcshareddata/
DANIEL.xcodeproj/project.xcworkspace/xcuserdata/Dgolman.xcuserdatad/
DANIEL.xcodeproj/xcuserdata/Dgolman.xcuserdatad/
DANIEL.xcodeproj/project.xcworkspace/xcuserdata/danielmoreh.xcuserdatad/
DANIEL.xcodeproj/xcuserdata/danielmoreh.xcuserdatad/
